<!-- HEADER -->
<div class="header">
  <div class="header-left">
    <p>Random choice</p>
  </div>
  <div class="header-center">
    <p>Similarity ?</p>
  </div>
  <div class="header-right">
    <%= image_tag("avatar.png", size: "50x50", :alt => "rss feed", class: "header-avatar") %>
  </div>
</div>
