body {
  background-image: url("black-wall.jpg");
  font-style: "Courier New", "Oswald", "OpenSans";
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
