.footer {
  background-image:linear-gradient(to bottom, black, white);
  border-top: 1px solid black;
  padding: 0px;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.footer-left, .footer-center, .footer-right {
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
